//
// Contact
// --------------------------------------------------

.Contact {
    margin-top: $padding-base * 2;
    position: relative;
    text-align: right;

    clearfix();
}

.Contact-title {
    margin: 0;
    padding: 0 $padding-base * 2;
    color: $grey;
    text-align: left;
    text-align: center;
    font-weight: normal;
    font-size: 40px;
}

.Contact-links {
    margin-bottom: $padding-base * 2;
    padding: 0 $padding-base * 2;
    background: $darkgrey;

}

.Contact-links-item {
    text-align: left;
    margin-bottom: $padding-base;
    text-align: center;
}

.Contact-links a {
    color: $grey;
    text-decoration: none;

    &:hover {
        color: $green;
    }
}




@media (min-width: 520px) {

    .Contact {
        margin-top: 30px;
    }

    .Contact-title {
        padding-right: $padding-base * 2;
        position: absolute;
        right: 250px;
        top: 45px;
        text-align: right;
    }

    .Contact-links {
        padding: 0 $padding-base * 2;
        width: 250px;
        border-left: solid 1px $white;
        font-size: 18px;
        display: inline-block;
    }

    .Contact-links-item {
        text-align: left;

        &:last-child {
            margin-bottom: 0;
        }

    }

}

@media (min-width: 1025px) {

    .Contact {
        margin-top: 90px;
    }

}


