//
// Navigation
// --------------------------------------------------


.Nav {
    height: 70px;
    width: 100%;
    position: fixed;
    text-align: center;
    background: $white;
    z-index: 2;
}


.Nav-menu {
    display: block;
    height: 70px;
}

// When you roll over the top bar the menu icon changes colour depending on the page
.home .Nav-menu {
    &:hover .Nav-menu-icon span,
    &:hover .Nav-menu-icon:before,
    &:hover .Nav-menu-icon:after {
        background: $blue;
    }
}
.portfolio .Nav-menu {
    &:hover .Nav-menu-icon span,
    &:hover .Nav-menu-icon:before,
    &:hover .Nav-menu-icon:after {
        background: $purple;
    }
}
.contact .Nav-menu {
    &:hover .Nav-menu-icon span,
    &:hover .Nav-menu-icon:before,
    &:hover .Nav-menu-icon:after {
        background: $darkgrey;
    }
}

.Nav-menu-icon {
    margin-top: 10px;
    display: inline-block;
    height: 50px;
    width: 50px;
    position: relative;
    // hide the font
    font-size: 0;
    line-height: 0;
    text-decoration: none;

    span,
    &:before,
    &:after {
        height: 3px;
        width: 30px;
        display: block;
        position: absolute;
        top: 16px;
        left: 10px;
        content: '';
        background: rgba($black, 0.2);
        transition: background 200ms ease-in;
    }

    &:after {
        top: 23px;
    }

    span {
        top: 30px;
    }
}


// Sub Navigation
.Nav-sub {
    margin-top: 38px;
    width: 100%;
    position: absolute;
    z-index: 2;
    text-align: center;
    opacity: 0;
}
// because the page is based on a scale size - you never really know where the subNav distance should be
@media(min-height: 600px) {
    .Nav-sub {
        margin-top: 55px;
    }
}
@media(min-height: 800px) {
    .Nav-sub {
        margin-top: 75px;
    }
}

.Nav-sub-item {
    margin: 0 $padding-base;
    display: inline-block;
}

.Nav-sub-item-link {
    text-decoration: none;
    text-transform: uppercase;
    font-size: 14px;
    font-weight: bold;
    padding-bottom: 1px;
}

.is-active.Nav-sub-item-link--home {
    border-bottom: solid 1px $blue;
}
.is-active.Nav-sub-item-link--work {
    border-bottom: solid 1px $purple;
}
.is-active.Nav-sub-item-link--contact {
    border-bottom: solid 1px $darkgrey;
}
