//
// Different style overrides when there is no JS
// --------------------------------------------------


// owl-carousel is hidden by default - this hides all the site content
.no-js .owl-carousel {
    display: block;
}

.no-js .Nav {
    display: none;
}

.no-js .Contact {
    margin-top: 20px;
}

.no-js body {
    background-color: $white;
}