//
// Variables
// --------------------------------------------------



// Base variables
// -------------------------
$padding-base =                        18px;



// Colours
// -------------------------
$white =                               #fff;
$black =                               #000;

$grey =                                #dce1d5;
$lightgrey =                           #f0f4f9;
$darkgrey =                            #272a32;

$purple =                              #af007c;
$darkpurple =                          #97006b;

$yellow =                              #ffe621;
$blue =                                #00c4cc;
$darkblue =                            #00a2ac;

// colours used in .Squares
$green =                               #35cb60;
$orange =                              #f27e18;
$lightblue =                           #1f95c1;
$lightpurple =                         #ad51a3;
$mustard =                             #fecb57;
$red =                                 #fc4349;


// Typography
// -------------------------
$font-family =                         "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif; // may as well use the best Helvetica
$font-family-base =                    $font-family;
$font-weight-base =                    300;

$font-size-base =                      16px;
$font-size-small =                     ceil($font-size-base * 0.75);  // ~12px
$font-size-medium =                    $font-size-base;               // ~16px
$font-size-large =                     ceil($font-size-base * 1.25);  // ~20px

$line-height-base =                    1.5; // (didn't use a unit on purpose)